{% extends 'app/_base.html' %}
{% load static %}

{% block nav %}

     <div class="navbar-area fixed-top">
           <div class="huruma-responsive-nav">
                <div class="container">
                    <div class="huruma-responsive-menu">
                        <div class="logo">
                            <a href={% url 'homepage' %}>
                                <img class="white-logo" alt="logo" src={% static "assets/img/new_logo.png" %} >
                                <img class="black-logo" alt="image" src={% static "assets/img/new_logo.png" %} >
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="huruma-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href={% url 'homepage' %}>
                            <img class="white-logo" alt="logo" src={% static "assets/img/new_logo.png"%} >
                            <img class="black-logo" alt="image" src={% static "assets/img/new_logo.png" %} >
                        </a>

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link " href={% url 'homepage' %} >
                                        Home
                                    </a>

                                </li>

                                <li class="nav-item">
                                    <a class="nav-link "  href={% url 'about' %}>
                                        About
                                    </a>
                                </li>

                                  <li class="nav-item active">
                                    <a class="nav-link " href=#>
                                        Cases
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a class="nav-link" href={% url 'submit_case' %}>
                                                 Submit a Case
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href={% url 'cases' %}>
                                                Active Cases
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href={% url 'personal_cases' %}>
                                                 Personal Cases
                                            </a>
                                        </li>
                                    </ul>
                                </li>


                                <li class="nav-item">
                                    <a  class="nav-link" href={% url 'faq' %}>
                                        Faq
                                    </a>
                                </li>


                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        User
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a class="nav-link" href={% url 'login' %}>
                                                Log In
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href={% url 'signup' %}>
                                                Sign Up
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href={% url 'password_reset' %}>
                                                Recover Password
                                            </a>
                                        </li>
                                    </ul>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link" href={% url 'contact' %}>
                                        Contact
                                    </a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link" href={% url 'blog' %}>
                                        Blog
                                    </a>

                                </li>

                            </ul>

                            <div class="others-options">

                                <div class="option-item"><i class="search-btn bx bx-search"></i>
                                    <i class="close-btn bx bx-x"></i>
                                    <div class="search-overlay search-popup">
                                        <div class='search-box'>
                                            <form class="search-form">
                                                <input class="search-input" name="search" placeholder="Search" type="text">

                                                <button class="search-button" type="submit">
                                                    <i class="bx bx-search"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

{% endblock nav %}

{% block content %}

        <!-- Start Page Title Area -->
        <div class="page-title-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>Submit a Case</h2>
                            <ul>
                                <li><a href={% url 'homepage' %}>Home</a></li>
                                 <li><a href={% url 'cases' %}>Cases</a></li>
                                <li>Submit a Case</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start Contact Area -->
        <section class="contact-section ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="contact-info-address">
                            <h3>How it Works </h3>

                            <div class="info-contact">
                                <i class="flaticon-witness"></i>
                                <h3>Submit the Form</h3>
                                <span>Fill in the form with the correct details and click submit</span>
                            </div>

                            <div class="info-contact">
                                <i class="flaticon-virtual-reality-glasses"></i>
                                <h3>Review</h3>
                                <span>Our Team reviews the case to confirm the validity of the claims</span>
                            </div>

                            <div class="info-contact">
                                <i class="flaticon-confirmation"></i>
                                <h3>Confirmation</h3>
                                <span>
                                    If the all checks out the user is contacted and the case is approved and uploaded and donations can be made.
                                </span>
                            </div>

                             <div class="info-contact">
                                <i class="flaticon-testimonial"></i>
                                <h3>Target Reached</h3>
                                <span>
                                    When the Target amount is reached the case is closed and donations cease. The user is then contacted and the money is immediately transferred.
                                </span>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="contact-area">
                            <div class="contact-content">
                                <h3>Submit a Cause</h3>
                                <p>Please fill the form with the correct details. The legitimacy of these claims will be thoroughly investigated</p>
                            </div>

                            <div class="contact-form">
                                <form id="contactForm" action="#" method="POST" enctype="multipart/form-data">
                                     {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                {{ form.name }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                {{ form.hospital_address }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
        
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                {{ form.target }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
        
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                {{ form.description }}
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="send-btn">
                                                <input type="submit" class="default-btn" value="Submit">
                                            </div>
                                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact Area -->


{% endblock content%}