{% extends 'app/_base.html' %}
{% load cloudinary %}
{% load static %}
{% load humanize %}




{% block content %}
        <!-- Start Home Banner Three Area -->
        <div class="home-banner-three home-banner-four">
            <div class="home-slides-four owl-carousel owl-theme">
                <div class="home-item item-bg-1" style="background-image: url({% static "assets/img/home-two/homepage.jpg" %})">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <div class="container">
                                <div class="main-banner-content main-banner-content-four text-center">
                                    <span>AffordHealth</span>
                                    <h1>One Life is Worth A Fortune</h1>
                                    <p>With more than half of Nigeria's population in poverty, paying medical bills has become a herculean task. Come be a knight in shinning amour</p>
                                    <div class="banner-btn">
                                        <a href={% url 'cases' %} class="default-btn">
                                            Donate Now
                                            <i class="flaticon-right"></i>
                                            <span></span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Home Banner Three Area -->

{#        <!-- Start Top Feature Area -->#}
{#        <section class="feature-section">#}
{#            <div class="container-fluid">#}
{#                <div class="row">#}
{#                    <div class="col-lg-3 col-md-6 col-sm-6 p-0">#}
{#                        <div class="feature-card">#}
{#                            <div class="icon">#}
{#                                <img  alt="image" src={% static "assets/img/icon/1.png" %} >#}
{#                                <img alt="image" src={% static "assets/img/icon/white-1.png" %}>#}
{#                            </div>#}
{#                            #}
{#                            <h3>Become A Volunteer</h3>#}
{#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididun labore  voluptatem accusantium.</p>#}
{##}
{#                            <a href="#" class="feature-btn">#}
{#                                Join now +#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-lg-3 col-md-6 col-sm-6 p-0">#}
{#                        <div class="feature-card">#}
{#                            <div class="icon">#}
{#                                <img alt="image" src={% static "assets/img/icon/2.png" %}>#}
{#                                <img alt="image" src={% static "assets/img/icon/white-2.png" %}>#}
{#                            </div>#}
{#                            #}
{#                            <h3>Quick Fundraiser</h3>#}
{#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididun labore  voluptatem accusantium.</p>#}
{##}
{#                            <a href="#" class="feature-btn">#}
{#                                Give now +#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-lg-3 col-md-6 col-sm-6 p-0">#}
{#                        <div class="feature-card">#}
{#                            <div class="icon">#}
{#                                <img alt="image" src={% static "assets/img/icon/3.png" %}>#}
{#                                <img alt="image" src={% static "assets/img/icon/white-3.png" %}>#}
{#                            </div>#}
{#                            #}
{#                            <h3>Give Donation</h3>#}
{#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididun labore  voluptatem accusantium.</p>#}
{##}
{#                            <a href="#" class="feature-btn">#}
{#                                Donate now +#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-lg-3 col-md-6 col-sm-6 p-0">#}
{#                        <div class="feature-card">#}
{#                            <div class="icon">#}
{#                                <img alt="image" src={% static "assets/img/icon4.png" %}>#}
{#                                <img alt="image" src={% static "assets/img/icon/white-4.png" %}>#}
{#                            </div>#}
{#                            #}
{#                            <h3>Join as a member</h3>#}
{#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididun labore  voluptatem accusantium.</p>#}
{##}
{#                            <a href="#" class="feature-btn">#}
{#                                Be Member +#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
{#        <!-- End Top Feature Area -->#}

              <!-- Start About Area -->
        <section class="about-section pt-70 pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-item">
                            <span>
                                <i class="flaticon-care-about-plants"></i>
                                About us
                            </span>
                            <h3>A Nigerian Based Charity Organization</h3>
                            <p class="main-color">
                                With more than half of Nigeria's population in poverty, paying medical bills has become a herculean task.
                            </p>
                            <p>We are a team of college students who help patients overcome the obstacle of healthcare unaffordability in Nigeria by raising funds for them. We seek to ensure that the sick won't have to go through arduous and depressing financial troubles to pay their medical bills.</p>


                            <div class="about-btn">
                                <a href={% url 'cases' %} class="default-btn">
                                    Donate Now
                                    <i class="flaticon-right"></i>
                                    <span></span>
                                </a>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="about-image about-four">

                            <img class="shadow" alt="image" src={% static "assets/img/patient outreach.jpg"%}>
{#                            <img class="shadow" alt="image" src={% static "assets/img/photo-1507514217837-da7e39d37edd.jpeg"%}>#}
                        </div>

{#                        <div class="about-video">#}
{#                            <a href="https://www.youtube.com/watch?v=uemObN8_dcw" class="video-btn popup-youtube">#}
{#                                <i class="bx bx-play"></i>#}
{#                            </a>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Area -->

        <!-- Start Fun Facts Area -->
        <section class="fun-facts-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-fun-fact">
                            <p>Donations</p>
                            <h3>
                                <span class="sign-icon dolor">₦</span>
                                <span class="odometer" data-count="30">00</span>
                                <span class="sign-icon">K</span>
                            </h3>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-fun-fact">
                            <p>Happy Donators</p>
                            <h3>
                                <span class="odometer" data-count="05">05</span>
                                <span class="sign-icon">+</span>
                            </h3>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-fun-fact">
                            <p>Beneficiaries</p>
                            <h3>
                                <span class="odometer" data-count="500">500</span>
{#                                <span class="sign-icon">K</span>#}
                            </h3>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-fun-fact">
                            <p>Closed Cases</p>
                            <h3>
                                <span class="odometer" data-count="02">02</span>
{#                                <span class="sign-icon">K</span>#}
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Fun Facts Area -->


         <!-- Start Donor Area -->
        <section class="donor-section pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <h2>How To Become A Donor</h2>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="donor-item">
                            <div class="icon">
                                <i class="flaticon-support"></i>
                            </div>
                            <h3>Select A Case</h3>
                            <p>Choose from any of our current cases</p>
                            <a href={% url 'cases' %} class="donor-btn">See Open Cases ++</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="donor-item">
                            <div class="icon">
                                <i class="flaticon-confirmation"></i>
                            </div>
                            <h3>Fill in Your Details and Donate</h3>
                            <p>Donate to a case that resonates with you or donate generally to our cause</p>
                            <a href="#" class="donor-btn">Donate ++</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-md-6 offset-md-3 offset-lg-0">
                        <div class="donor-item">
                            <div class="icon">
                                <i class="flaticon-enjoy"></i>
                            </div>
                            <h3>Get Notified Via Email</h3>
                            <p>Email updates will be sent to you regarding the progress of the case you just donated to</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </section>
        <!-- End Donor Area -->

        <!-- Start Causes Area -->
        <section class="causes-section pt-100 pb-70">
            <div class="container">

                <div class="section-title">

                    <span>
                        <i class="flaticon-ribbon"></i>
                        Our Cases
                    </span>
                    <h2>Current open cases </h2>
                    <p></p>

                </div>

                <div class="row">

                    {% for obj in cases %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single-causes">
                            <img style="height: 300px; width: 500px" src={{ obj.image.url }}  alt="image">
                            <div class="icon">
                                <i class="flaticon-blood-bag"></i>
                            </div>

                            <div class="causes-content">
{#                                <span>#Donation</span>#}
                                <h3>{{ obj.name }}</h3>
                                <p>{{ obj.description|truncatechars:100 }}</p>

                                <div class="progress" style="height: 20px;">

                                     <div class="progress-bar progress-bar-striped bg-red" role="progressbar" style="width: {{ object.percentage_done }}%; background-color: #ff6015;" aria-valuenow="{{ obj.percentage_done }}" aria-valuemin="0" aria-valuemax="100"><b>{{ obj.percentage_done }}%</b></div>
                                    <div class="causes-progress-content">
                                        <span>Raised: ₦{{ obj.donated | intcomma}}</span>

                                        <div class="text-right">
                                            <span>Goal: ₦{{obj.target| intcomma}}</span>
                                        </div>
                                    </div>
                                    <p>Raised by {{ obj.donor_count }} people within {{ obj.date_created | timesince}} </p>
                                </div>

                                <a href={% url 'case_detail' obj.pk %} class="causes-btn-one">
                                    Donate Now
                                    <i class="flaticon-right"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                    {% endfor %}

                </div>
             <a class="default-btn" style="background-color: #2f2c52;" href={% url 'cases' %}>See More
                                    <span></span>
                                    <i class="flaticon-right"></i>
                                </a>
            </div>
        </section>
        <!-- End Causes Area -->



        <!-- Start Solve Area -->
        <section class="solve-section pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <span>
                        <i class="flaticon-to-do-list"></i>
                        What We Do
                    </span>
                    <h2>We Are On A Mission To Solve Health Debt Issues</h2>
{#                    <p>Quis ipsum suspendice consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendices gravida.</p>#}
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="solve-item">
                            <div class="icon">
                                <img src={% static "assets/img/home-two/2 (1).png" %} alt="image">
                            </div>
                            <h3>FundRaising</h3>
                            <p>We identify patients that are within the scope of our targeted diseases population and raise help for them by fundraising or using available resources to sponsor their healthcare.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="solve-item">
                            <div class="icon">
                                <img src={% static "assets/img/home-two/3 (1).png" %} alt="image">
                            </div>
                            <h3>Patient Outreach</h3>
                            <p>We assess prevalent health problems in a community of interest and come up with the most feasible means to solve them. Aside from financial relief, we also show them our love and care.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Solve Area -->

        <!-- Start Mission Area start -->
        <section class="mission-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 p-0">
                        <div class="mission-image" style="background-image: url({% static "assets/img/little_sick_girl.jpeg" %});">
                            <img src={% static "assets/img/little_sick_girl.jpeg" %} alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6">
						<div class="mission-tab">
                            <span>
                                <i class="flaticon-target"></i>
                                Our Mission
                            </span>
							<h2>Why We Do What We Do</h2>
							<div class="tab mission-list-tab">
								<ul class="tabs">
									<li>
										<a href="#">
											The Problem
										</a>
									</li>
									<li>
										<a href="#">
											Our Motivation
										</a>
									</li>
									<li>
										<a href="#">
											Your Impact
										</a>
									</li>
                                </ul>

								<div class="tab_content">
									<div class="tabs_item">
										<p>One of the many problems in the Nigerian Healthcare system is affordability. Millions of Nigerians are not capable of funding their complete treatment bills both in private hospitals and even in public healthcare centers, where treatment costs are usually less. </p>

										<p>Some of these patients are then denied treatment or held back in the hospital after treatment. In cases where it is clear that the quality of healthcare to be received is high, the problem of affordability becomes a significant and saddening obstacle for the patients.</p>
										<a class="default-btn" href={% url 'donate' %}>
                                            Donate Now
                                            <span></span>
                                            <i class="flaticon-right"></i>
										</a>
                                    </div>

                                    <div class="tabs_item">
										<p>We are a team of college students who help patients overcome this obstacle and contribute to solving this problem of healthcare unaffordability in Nigeria by raising funds for them. We seek to ensure that the sick won't have to go through arduous and depressing financial troubles to pay their medical bills.</p>

										<p>We believe that one life, every life, is worth a fortune; instead of letting patients deteriorate in health or get crippled financially, psychologically, and otherwise because they cannot afford treatment, we cater to their medical bills through this initiative.</p>
										<a class="default-btn" href={% url 'donate' %}>
                                            Donate Now
                                            <span></span>
                                            <i class="flaticon-right"></i>
										</a>
                                    </div>

                                    <div class="tabs_item">
										<p>We cannot do this alone. We need you, your funds, and your support to enable financially constrained patients across Nigeria to AffordHealth!</p>

										<a class="default-btn" href={% url 'donate' %}>
                                            Donate Now
                                            <span></span>
                                            <i class="flaticon-right"></i>
										</a>
                                    </div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </section>
        <!-- End Mission Area -->

       <!-- Start Team Area -->
         {% include 'app/team_section.html' %}
        <!-- End Team Area -->

        <!-- Start Donate Area -->
        <section class="donate-section ptb-100">
            <div class="container">
                <div class="section-title">
                    <h2>Want To Know How Else You Can Help?</h2>
                    <p>More than anything your donations will go a long way in helping us achieve our goal. However we understand that not everyone
                        with a golden heart has the wherewithal to give out donations, so we implore you to help share our work on your social media platforms.</p>
                    <p>Thank You!</p>
                     <a href="#" class="donate-btn">
                        Share Now
                        <i class="flaticon-right"></i>
                    </a>

            </div>

            <div class="default-shape">
                <img alt="image" src={% static  "assets/img/donate/1.png" %} >
                <img alt="image" src={% static  "assets/img/donate/1.png" %} >
            </div>
            </div>
        </section>
        <!-- End Donate Area -->

        <!-- Start Blog Area -->
        <section class="blog-section pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <span>
                        <i class="flaticon-book"></i>
                        Our Blog
                    </span>
                    <h2>Check Out Our Latest Blog Posts</h2>
                </div>

                <div class="row">
                    {% for blog in blog_posts %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-blog">
                                <img src={{ blog.image.url }} alt="image">

                                <div class="content">
                                    <a href={% url 'blog_detail' blog.pk %}>
                                        <i class='bx bx-user'></i>
                                    </a>
                                    <span>{{ blog.author.username }}, {{ blog.date_created|date:"j F Y" }}</span>
                                    <h3>
                                        <a href={% url 'blog_detail' blog.pk %}>
                                            {{ blog.title }}
                                        </a>
                                    </h3>
                                    <a href={% url 'blog_detail' blog.pk%} class="blog-btn">Read more +</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


{#                    <div class="col-lg-4 col-md-6 col-sm-6 offset-sm-3 offset-lg-0">#}
{#                        <div class="single-blog">#}
{#                            <img src="assets/img/blog/3.jpg" alt="image">#}
{##}
{#                            <div class="content">#}
{#                                <a href="#">#}
{#                                    <i class='bx bx-user'></i>#}
{#                                </a>#}
{#                                <span>Healthy, 21 June</span>#}
{#                                <h3>#}
{#                                    <a href="#">#}
{#                                        The Plant-Powered Dietitian To Consume Habit#}
{#                                    </a>#}
{#                                </h3>#}
{#                                <a href="single-blog.html" class="blog-btn">Read more +</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </section>
        <!-- End Blog Area -->


{% endblock content %}

{% block footer_blog %}
 {% include 'app/fotter_blog_section.html' %}
{% endblock footer_blog %}