{% extends 'app/_base.html' %}
{% load static %}
{#{% load cloudinary %}#}
{% load humanize %}


{% block nav %}

     <div class="navbar-area fixed-top">
            <div class="huruma-responsive-nav">
                <div class="container">
                    <div class="huruma-responsive-menu">
                        <div class="logo">
                            <a href={% url 'homepage' %}>
{#                                <img class="white-logo" alt="logo" src={% static "assets/img/logo.png" %} >#}
{#                                <img class="black-logo" alt="image" src={% static "assets/img/logo-2.png" %} >#}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="huruma-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href={% url 'homepage' %}>
{#                            <img class="white-logo" alt="logo" src={% static "assets/img/logo.png"%} >#}
{#                            <img class="black-logo" alt="image" src={% static "assets/img/logo-2.png" %} >#}
                        </a>

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link " href={% url 'homepage' %} >
                                        Home
                                    </a>

                                </li>

                                <li class="nav-item">
                                    <a class="nav-link "  href={% url 'about' %}>
                                        About
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link active" href={% url 'cases' %}>
                                        Cases

                                    </a>
                                </li>


{#                                <li class="nav-item">#}
{#                                    <a  class="nav-link" href={% url 'faq' %}>#}
{#                                        Faq#}
{#                                    </a>#}
{#                                </li>#}
{##}
{##}
{#                                <li class="nav-item">#}
{#                                    <a href="#" class="nav-link">#}
{#                                        User#}
{#                                    </a>#}
{#                                    <ul class="dropdown-menu">#}
{#                                        <li class="nav-item">#}
{#                                            <a class="nav-link" href={% url 'login' %}>#}
{#                                                Log In#}
{#                                            </a>#}
{#                                        </li>#}
{#                                        <li class="nav-item">#}
{#                                            <a class="nav-link" href={% url 'signup' %}>#}
{#                                                Sign Up#}
{#                                            </a>#}
{#                                        </li>#}
{#                                        <li class="nav-item">#}
{#                                            <a class="nav-link" href={% url 'password_reset' %}>#}
{#                                                Recover Password#}
{#                                            </a>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </li>#}


                                <li class="nav-item">
                                    <a class="nav-link" href={% url 'contact' %}>
                                        Contact
                                    </a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link" href={% url 'blog' %}>
                                        Blog
                                    </a>

                                </li>

                            </ul>

                            <div class="others-options">

                                <div class="option-item"><i class="search-btn bx bx-search"></i>
                                    <i class="close-btn bx bx-x"></i>
                                    <div class="search-overlay search-popup">
                                        <div class='search-box'>
                                            <form class="search-form">
                                                <input class="search-input" name="search" placeholder="Search" type="text">

                                                <button class="search-button" type="submit">
                                                    <i class="bx bx-search"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

{% endblock nav %}

{% block content %}


        <!-- Start Causes Details Area -->
        <section class="causes-details-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="causes-details-desc">
                            <div class="causes-details-image">
                                 <img src={{ object.image.url }} alt="image">
                            </div>

                            <div class="causes-details-text">

                                   <div class="progress" style="height: 20px;">
                                        <div class="progress-bar progress-bar-striped bg-red" role="progressbar" style="width: {{ object.percentage_done }}%; background-color: #ff6015;" aria-valuenow="{{ object.percentage_done }}" aria-valuemin="0" aria-valuemax="100"><b>{{ object.percentage_done }}%</b></div>
                                    </div>
                                <ul>
                                    <li>
                                        <span>Raised:</span> 
                                        ₦{{ object.donated | intcomma}}
                                    </li>
                                    <li class="left-site">
                                        <span>Goal:</span> 
                                        ₦{{ object.target | intcomma}}
                                    </li>
                                </ul>
                                <h3>{{ object.name }}</h3>
                                <p>{{ object.description }}</p>
                            </div>



                                    <ul class="share_buttons">
                                        <li><span>Share:</span></li>
                                        <li>
                                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ object.share_url }}" target="_blank">
                                                <i class="flaticon-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/intent/tweet?url={{ object.share_url }}&text={{ object.description|truncatechars:20 }}" target="_blank">
                                                <i class="flaticon-twitter"></i>
                                            </a>
                                        </li>
{#                                        <li>#}
{#                                            <a href="#" target="_blank">#}
{#                                                <i class="flaticon-instagram"></i>#}
{#                                            </a>#}
{#                                        </li>#}
                                    </ul>



                            <div class="causes-details-payment">
								<div class="payment-method">
									<h3>Fill in the details to make a donation please</h3>
									<p>

                                </div>

                                <form class="contact-form" id='paymentForm'>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input type="text" name="name" id="first-name" class="form-control" placeholder="First Name">
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input type="text" name="name" id="last-name"class="form-control" placeholder="Last Name">
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input type="text" name="text"  id="email-address" class="form-control" placeholder="Email" required>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input type="text" name="text" id="phone" class="form-control" placeholder="Phone" >
                                            </div>
                                        </div>

                                         <div class="col-lg-12">
                                            <div class="form-group">
                                                <input type="hidden" name="reference" id="reference" class="form-control" value={{ cause.reference_code }} >
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="msg_subject"></label><input type="text" name="msg_subject" id="msg_subject" class="form-control" placeholder="$100.00" required>
                                            </div>
                                        </div>


                                        <div class="col-lg-12">
                                            <div class="causes-details-btn">
                                                <button  class="default-btn" onclick="payWithPaystack()">
                                                    Donate Now
                                                    <span></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
							</div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
						<aside class="widget-area" id="secondary">
{#							<div class="widget widget_search">#}
{#								<form class="search-form">#}
{#									<label>#}
{#										<span class="screen-reader-text">Search for:</span>#}
{#										<input type="search" class="search-field" placeholder="Search...">#}
{#                                    </label>#}
{#                                    #}
{#									<button type="submit">#}
{#                                        <i class="flaticon-search"></i>#}
{#                                    </button>#}
{#								</form>#}
{#							</div>#}

							<section class="widget widget_huruma_posts_thumb">
								<h3 class="widget-title">Other Cases</h3>

                                {% for cause in cases %}
								<article class="item">
									<a href="#" class="thumb">
											<img style="width: 80px; height: 68px"  src="{{ cause.image.url }}" alt="image">
									</a>
									<div class="info">
										<time datetime="2019-06-30">{{ cause.date_created }}</time>
										<h4 class="title usmall">
											<a href={% url 'case_detail' cause.pk %} class="thumb">{{cause.name}}</a>
										</h4>
									</div>

									<div class="clear"></div>
								</article>
                                {% endfor %}

							</section>

							



						</aside>
					</div>
                </div>
            </div>
        </section>
        <!-- End Causes Details Area -->
        
        <!-- Start Instagram Area -->
{#        <div class="instagram-area">#}
{#            <div class="instagram-slides owl-carousel owl-theme">#}
{#                <div class="instagram-box">#}
{#                    <img src="assets/img/instagram/1.jpg" alt="image">#}
{##}
{#                    <div class="icon">#}
{#                        <i class="flaticon-instagram"></i>#}
{#                    </div>#}
{##}
{#                    <a href="https://www.instagram.com/" target="_blank"></a>#}
{#                </div>#}
{##}
{#                <div class="instagram-box">#}
{#                    <img src="assets/img/instagram/2.jpg" alt="image">#}
{##}
{#                    <div class="icon">#}
{#                        <i class="flaticon-instagram"></i>#}
{#                    </div>#}
{##}
{#                    <a href="https://www.instagram.com/" target="_blank"></a>#}
{#                </div>#}
{##}
{#                <div class="instagram-box">#}
{#                    <img src="assets/img/instagram/3.jpg" alt="image">#}
{##}
{#                    <div class="icon">#}
{#                        <i class="flaticon-instagram"></i>#}
{#                    </div>#}
{##}
{#                    <a href="https://www.instagram.com/" target="_blank"></a>#}
{#                </div>#}
{##}
{#                <div class="instagram-box">#}
{#                    <img src="assets/img/instagram/4.jpg" alt="image">#}
{##}
{#                    <div class="icon">#}
{#                        <i class="flaticon-instagram"></i>#}
{#                    </div>#}
{##}
{#                    <a href="https://www.instagram.com/" target="_blank"></a>#}
{#                </div>#}
{##}
{#                <div class="instagram-box">#}
{#                    <img src="assets/img/instagram/5.jpg" alt="image">#}
{##}
{#                    <div class="icon">#}
{#                        <i class="flaticon-instagram"></i>#}
{#                    </div>#}
{##}
{#                    <a href="https://www.instagram.com/" target="_blank"></a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <!-- End Instagram Area -->

{% endblock content %}

{% block footer_blog %}
 {% include 'app/fotter_blog_section.html' %}
{% endblock footer_blog %}

    <script src="https://js.paystack.co/v1/inline.js"></script>
    <script>
    var paymentForm = document.getElementById('paymentForm');
    paymentForm.addEventListener('submit', payWithPaystack, false);
    console.log("Hello world==========================================")
    function payWithPaystack() {
        var handler = PaystackPop.setup({
    key: 'YOUR_PUBLIC_KEY', // Replace with your public key
    email: document.getElementById('email-address').value,
    amount: document.getElementById('amount').value * 100, // the amount value is multiplied by 100 to convert to the lowest currency unit
    currency: 'NGN', // Use GHS for Ghana Cedis or USD for US Dollars
    firstname: document.getElementById('first-name').value,
    lastname: document.getElementById('last-name').value,
    reference: document.getElementById('reference').value, // Replace with a reference you generated
    callback: function(response) {
      //this happens after the payment is completed successfully
      var reference = response.reference;
      alert('Payment complete! Reference: ' + reference);
      // Make an AJAX call to your server with the reference to verify the transaction
    },
    onClose: function() {
      alert('Transaction was not completed, window closed.');
    },
  });
  handler.openIframe();
}
    </script>

