
{% extends 'app/_base.html' %}
{% load static %}

{% block nav %}

     <div class="navbar-area fixed-top">
            <div class="huruma-responsive-nav">
                <div class="container">
                    <div class="huruma-responsive-menu">
                        <div class="logo">
                            <a href={% url 'homepage' %}>
{#                                <img class="white-logo" alt="logo" src={% static "assets/img/logo.png" %} >#}
{#                                <img class="black-logo" alt="image" src={% static "assets/img/logo-2.png" %} >#}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="huruma-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href={% url 'homepage' %}>
{#                            <img class="white-logo" alt="logo" src={% static "assets/img/logo.png"%} >#}
{#                            <img class="black-logo" alt="image" src={% static "assets/img/logo-2.png" %} >#}
                        </a>

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link " href={% url 'homepage' %} >
                                        Home
                                    </a>

                                </li>

                                <li class="nav-item">
                                    <a class="nav-link "  href={% url 'about' %}>
                                        About
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link " href={% url 'cases' %}>
                                        Cases

                                    </a>
                                </li>


{#                                <li class="nav-item">#}
{#                                    <a  class="nav-link " href={% url 'faq' %}>#}
{#                                        Faq#}
{#                                    </a>#}
{#                                </li>#}
{##}
{##}
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        User
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a class="nav-link" href={% url 'login' %}>
                                                Log In
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href={% url 'signup' %}>
                                                Sign Up
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href={% url 'password_reset' %}>
                                                Recover Password
                                            </a>
                                        </li>
                                    </ul>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link" href={% url 'contact' %}>
                                        Contact
                                    </a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link active" href={% url 'blog' %}>
                                        Blog
                                    </a>

                                </li>

                            </ul>

                            <div class="others-options">

                                <div class="option-item"><i class="search-btn bx bx-search"></i>
                                    <i class="close-btn bx bx-x"></i>
                                    <div class="search-overlay search-popup">
                                        <div class='search-box'>
                                            <form class="search-form">
                                                <input class="search-input" name="search" placeholder="Search" type="text">

                                                <button class="search-button" type="submit">
                                                    <i class="bx bx-search"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

{% endblock nav %}


{% block content %}


        <!-- Start Blog Details Area -->   
        <section class="blog-details-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="blog-details-desc">
                            <div class="article-image">
                                <img src="{{ object.image.url }}" alt="image">
                            </div>
                            <div class="article-content">
                                <div class="entry-meta">
                                    <ul>
                                        <li>
                                            <span>Posted On:</span> 
                                            <a href="#">{{ object.date_created|date:"F j, Y" }}</a>
                                        </li>
                                        <li>
                                            <span>Posted By:</span> 
                                            <a href="#">{{ object.author.get_full_name }}</a>
                                        </li>
                                    </ul>
                                </div>

                                <h3><b>{{ object.title }}</b></h3>
                                <blockquote class="wp-block-quote">
                                    <p>{{ object.block_quote }}</p>

                                </blockquote>
                                <p>{{ object.body }}</p>

                            </div>

                            <div class="article-footer">

                                <div class="article-share">
                                    <ul class="social">
                                        <li><span>Share:</span></li>
                                        <li>
                                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ object.share_url}}" target="_blank">
                                                <i class="flaticon-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/intent/tweet?url={{ object.share_url }}&text={{ object.title }}" target="_blank">
                                                <i class="flaticon-twitter"></i>
                                            </a>
                                        </li>
{#                                        <li>#}
{#                                            <a href="#" target="_blank">#}
{#                                                <i class="flaticon-instagram"></i>#}
{#                                            </a>#}
{#                                        </li>#}
                                    </ul>
                                </div>
                            </div>

{#                            <div class="post-navigation">#}
{#                                <div class="navigation-links">#}
{#                                    <div class="nav-previous">#}
{#                                        <a href="#">#}
{#                                            <i class="flaticon-left"></i> #}
{#                                            Prev Post#}
{#                                        </a>#}
{#                                    </div>#}
{#                                    <div class="nav-next">#}
{#                                        <a href="#">#}
{#                                            Next Post #}
{#                                            <i class="flaticon-right"></i>#}
{#                                        </a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}

                            <div class="comments-area">
                                <h3 class="comments-title">4 Comments:</h3>
                                <ol class="comment-list">
                                    <li class="comment">
                                        <article class="comment-body">
                                            <footer class="comment-meta">
                                                <div class="comment-author vcard">
                                                    <img src="assets/img/client/1.jpg" class="avatar" alt="image">
                                                    <b class="fn">John Jones</b>
                                                    <span class="says">says:</span>
                                                </div>
                                                <div class="comment-metadata">
                                                    <a href="#">
                                                        <time>April 24, 2020 at 10:59 am</time>
                                                    </a>
                                                </div>
                                            </footer>
                                            <div class="comment-content">
                                                <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                            </div>
                                            <div class="reply">
                                                <a href="#" class="comment-reply-link">Reply</a>
                                            </div>
                                        </article>

                                        <ol class="children">
                                            <li class="comment">
                                                <article class="comment-body">
                                                    <footer class="comment-meta">
                                                        <div class="comment-author vcard">
                                                            <img src="assets/img/client/2.jpg" class="avatar" alt="image">
                                                            <b class="fn">Steven Smith</b>
                                                            <span class="says">says:</span>
                                                        </div>
                                                        <div class="comment-metadata">
                                                            <a href="#">
                                                                <time>April 24, 2020 at 10:59 am</time>
                                                            </a>
                                                        </div>
                                                    </footer>
                                                    <div class="comment-content">
                                                        <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                    </div>
                                                    <div class="reply">
                                                        <a href="#" class="comment-reply-link">Reply</a>
                                                    </div>
                                                </article>
                                            </li>

                                            <ol class="children">
                                                <li class="comment">
                                                    <article class="comment-body">
                                                        <footer class="comment-meta">
                                                            <div class="comment-author vcard">
                                                                <img src="assets/img/client/3.jpg" class="avatar" alt="image">
                                                                <b class="fn">Sarah Taylor</b>
                                                                <span class="says">says:</span>
                                                            </div>
                                                            <div class="comment-metadata">
                                                                <a href="#">
                                                                    <time>April 24, 2020 at 10:59 am</time>
                                                                </a>
                                                            </div>
                                                        </footer>
                                                        <div class="comment-content">
                                                            <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                        </div>
                                                        <div class="reply">
                                                            <a href="#" class="comment-reply-link">Reply</a>
                                                        </div>
                                                    </article>
                                                </li>
                                            </ol>
                                        </ol>
                                    </li>

                                    <li class="comment">
                                        <li class="comment">
                                            <article class="comment-body">
                                                <footer class="comment-meta">
                                                    <div class="comment-author vcard">
                                                        <img src="assets/img/client/4.jpg" class="avatar" alt="image">
                                                        <b class="fn">James Anderson</b>
                                                        <span class="says">says:</span>
                                                    </div>
                                                    <div class="comment-metadata">
                                                        <a href="#">
                                                            <time>April 24, 2020 at 10:59 am</time>
                                                        </a>
                                                    </div>
                                                </footer>
                                                <div class="comment-content">
                                                    <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                </div>
                                                <div class="reply">
                                                    <a href="#" class="comment-reply-link">Reply</a>
                                                </div>
                                            </article>
                                        </li>
                                    </li>
                                </ol>

                                <div class="comment-respond">
                                    <h3 class="comment-reply-title">Leave a Reply</h3>
                                    <form class="comment-form" id="comment-form">
                                        <p class="comment-notes">
                                            <span id="email-notes">Your email address will not be published.</span>
                                            Required fields are marked 
                                            <span class="required">*</span>
                                        </p>
                                        <p class="comment-form-comment">
                                            <label>Comment</label>
                                            <textarea name="comment" id="comment" cols="45" rows="5" maxlength="65525" required="required"></textarea>
                                        </p>
                                        <p class="comment-form-author">
                                            <label>Name <span class="required">*</span></label>
                                            <input type="text" id="author" name="author" required="required">
                                        </p>
                                        <p class="comment-form-email">
                                            <label>Email <span class="required">*</span></label>
                                            <input type="email" id="email" name="email" required="required">
                                        </p>

                                        <p class="comment-form-post">

                                            <input type="hidden" id="post" name="post" required="required" value={{ blogpost.pk }}>
                                        </p>

                                        <p class="form-submit">
                                            <input type="submit" name="submit" id="submit" onsubmit="submitComment()" class="submit" value="Post A Comment">
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
						<aside class="widget-area" id="secondary">
{#							<div class="widget widget_search">#}
{#								<form class="search-form">#}
{#									<label>#}
{#										<span class="screen-reader-text">Search for:</span>#}
{#										<input type="search" class="search-field" placeholder="Search...">#}
{#                                    </label>#}
{#                                    #}
{#									<button type="submit">#}
{#                                        <i class="flaticon-search"></i>#}
{#                                    </button>#}
{#								</form>#}
{#							</div>#}

							<section class="widget widget_huruma_posts_thumb">
								<h3 class="widget-title">Popular Posts</h3>

                                {% for post in blog_posts %}
								<article class="item">
									<a href={% url 'case_detail' post.pk %} class="thumb">
										<img style="width: 80px; height: 68px"  src="{{ post.image.url }}" alt="image">
									</a>
									<div class="info">
										<time datetime="2019-06-30">{{ post.date_created|date:"j M, Y" }}</time>
										<h4 class="title usmall">
											<a href="#">{{ post.title }}</a>
										</h4>
									</div>

									<div class="clear"></div>
								</article>
                                {% endfor %}

							</section>

{#							<section class="widget widget_categories">#}
{#								<h3 class="widget-title">Archives</h3>#}
{##}
{#								<ul>#}
{#									<li><a href="#">May 2020</a></li>#}
{#									<li><a href="#">April 2020</a></li>#}
{#									<li><a href="#">June 2020</a></li>#}
{#									<li><a href="#">julay 2020</a></li>#}
{#									#}
{#								</ul>#}
{#							</section>#}
							
{#							<section class="widget widget_categories">#}
{#								<h3 class="widget-title">Categories</h3>#}
{##}
{#								<ul>#}
{#									<li><a href="#">Educataon (10)</a></li>#}
{#									<li><a href="#">National (20)</a></li>#}
{#									<li><a href="#">Sports (10)</a></li>#}
{#									<li><a href="#">Megazine (12)</a></li>#}
{#									<li><a href="#">Health (16)</a></li>#}
{#								</ul>#}
{#							</section>#}

{#							<section class="widget widget_tag_cloud">#}
{#								<h3 class="widget-title">Tags</h3>#}
{##}
{#								<div class="tagcloud">#}
{#									<a href="#">Fashion</a>#}
{#								<a href="#">Education</a>#}
{#									<a href="#">Nation</a>#}
{#									<a href="#">Study</a>#}
{#									<a href="#">Health</a>#}
{#									<a href="#">Food</a>#}
{#									<a href="#">Travel</a>#}
{#									<a href="#">Science</a>#}
{#								</div>#}


						</aside>
					</div>
                </div>
            </div>
        </section>
        <!-- End Blog Details Area -->

{% endblock content %}

{% block footer_blog %}
{% include 'app/fotter_blog_section.html' %}
{% endblock footer_blog %}

{% block javascript %}

<script>

    function submitComment() {
        var name = $('#name').val();
        var email = $('#email').val();
        var comment = $('#comment').val();
        var post = $('#post').val();
        console.log("I got here===============")

        $.ajax({
            url: '{% url 'comment' %}',
            data:{
                'name':name,
                'email':email,
                'body':comment,
                'blog_id':post
                },
                dataType:'json',

                success: function (data) {
                if (data.success) {


                }else{


                }
            }
        });

    }
</script>

{% endblock %}