{% extends 'app/_base.html' %}
{% load static %}


{% block content %}



        <!-- Start Team Area -->
        <section class="team-section pt-100 pb-70">
            <div class="container">
                <div class="team-title-area">
                    <div class="row align-items-center">
                        <div class="col-lg-7">
                            <div class="section-title text-left">
                                <span>
                                    <i class="flaticon-support"></i>
                                    Meet Our Team
                                </span>
                                <h2>Talented And Dedicated Team behind AffordHealth</h2>
{#                                <p>We are a team of college students who help patients overcome obstacle and contribute to solving this problem of healthcare unaffordability in Nigeria</p>#}
                            </div>
                        </div>

                        <div class="col-lg-5">

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="team-item">
                            <div class="image">
                                <img style="height: 198px; width: 500px" src={% static "assets/img/team/rebet_AH.jpg" %} alt="rebet">
{#                                  <ul class="social">#}
{#                                    <li>#}
{#                                        <a href="https://facebook.com/" target="_blank">#}
{#                                            <i class="bx bxl-facebook"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="https://twitter.com/" target="_blank">#}
{#                                            <i class="bx bxl-twitter"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="https://linkedin.com" target="_blank">#}
{#                                            <i class="bx bxl-linkedin"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="https://instagram.com/" target="_blank">#}
{#                                            <i class="bx bxl-instagram"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                </ul>#}
                            </div>
                            <div class="content">
                                <h3>Rebet </h3>
                                <span>Team Member</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="team-item">
                            <div class="image">
                                <img style="height: 198px; width: 500px" src={% static "assets/img/team/Oluwatobiloba.jpg" %} alt="rebet">
{#                                  <ul class="social">#}
{#                                    <li>#}
{#                                        <a href="https://facebook.com/" target="_blank">#}
{#                                            <i class="bx bxl-facebook"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="https://twitter.com/" target="_blank">#}
{#                                            <i class="bx bxl-twitter"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="https://linkedin.com" target="_blank">#}
{#                                            <i class="bx bxl-linkedin"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="https://instagram.com/" target="_blank">#}
{#                                            <i class="bx bxl-instagram"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                </ul>#}
                            </div>
                            <div class="content">
                                <h3>Rebet </h3>
                                <span>Team Member</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="team-item">
                            <div class="image">
                                <img style="height: 198px; width: 500px" src={% static "assets/img/team/Tosin.jpg" %} alt="rebet">
{#                                  <ul class="social">#}
{#                                    <li>#}
{#                                        <a href="https://facebook.com/" target="_blank">#}
{#                                            <i class="bx bxl-facebook"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="https://twitter.com/" target="_blank">#}
{#                                            <i class="bx bxl-twitter"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="https://linkedin.com" target="_blank">#}
{#                                            <i class="bx bxl-linkedin"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="https://instagram.com/" target="_blank">#}
{#                                            <i class="bx bxl-instagram"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                </ul>#}
                            </div>
                            <div class="content">
                                <h3>Tosin </h3>
                                <span>Team Member</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="team-item">
                            <div class="image">
                                <img   src={% static "assets/img/team/gbodi.jpg" %} alt="Joshua">

{#                                <ul class="social">#}
{#                                    <li>#}
{#                                        <a href="https://web.facebook.com/john.doe.33886" target="_blank">#}
{#                                            <i class="bx bxl-facebook"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="https://web.twitter.com/" target="_blank">#}
{#                                            <i class="bx bxl-twitter"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="https://linkedin.com/" target="_blank">#}
{#                                            <i class="bx bxl-linkedin"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="https://instagram.com/" target="_blank">#}
{#                                            <i class="bx bxl-instagram"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}

                            <div class="content">
                                <h3>Joshua Gbodi</h3>
                                <span>Team Member</span>
                            </div>
                        </div>
                    </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="team-item">
                            <div class="image">
                                <img  src="{% static "assets/img/team/precious2.jpg" %}" alt="Precious">

{#                                <ul class="social">#}
{#                                    <li>#}
{#                                        <a href="https://facebook.com/" target="_blank">#}
{#                                            <i class="bx bxl-facebook"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="https://twitter.com/" target="_blank">#}
{#                                            <i class="bx bxl-twitter"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="https://linkedin.com" target="_blank">#}
{#                                            <i class="bx bxl-linkedin"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="https://instagram.com/" target="_blank">#}
{#                                            <i class="bx bxl-instagram"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                </ul>#}

                                <div class="content">
                                    <h3>Precious</h3>
                                    <span>Team Lead</span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                </div>
        </section>
        <!-- End Team Area -->

        <!-- Start Instagram Area -->
{#        <div class="instagram-area">#}
{#            <div class="instagram-slides owl-carousel owl-theme">#}
{#                <div class="instagram-box">#}
{#                    <img src="assets/img/instagram/1.jpg" alt="image">#}
{##}
{#                    <div class="icon">#}
{#                        <i class="flaticon-instagram"></i>#}
{#                    </div>#}
{##}
{#                    <a href="https://www.instagram.com/" target="_blank"></a>#}
{#                </div>#}
{##}
{#                <div class="instagram-box">#}
{#                    <img src="assets/img/instagram/2.jpg" alt="image">#}
{##}
{#                    <div class="icon">#}
{#                        <i class="flaticon-instagram"></i>#}
{#                    </div>#}
{##}
{#                    <a href="https://www.instagram.com/" target="_blank"></a>#}
{#                </div>#}
{##}
{#                <div class="instagram-box">#}
{#                    <img src="assets/img/instagram/3.jpg" alt="image">#}
{##}
{#                    <div class="icon">#}
{#                        <i class="flaticon-instagram"></i>#}
{#                    </div>#}
{##}
{#                    <a href="https://www.instagram.com/" target="_blank"></a>#}
{#                </div>#}
{##}
{#                <div class="instagram-box">#}
{#                    <img src="assets/img/instagram/4.jpg" alt="image">#}
{##}
{#                    <div class="icon">#}
{#                        <i class="flaticon-instagram"></i>#}
{#                    </div>#}
{##}
{#                    <a href="https://www.instagram.com/" target="_blank"></a>#}
{#                </div>#}
{##}
{#                <div class="instagram-box">#}
{#                    <img src="assets/img/instagram/5.jpg" alt="image">#}
{##}
{#                    <div class="icon">#}
{#                        <i class="flaticon-instagram"></i>#}
{#                    </div>#}
{##}
{#                    <a href="https://www.instagram.com/" target="_blank"></a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <!-- End Instagram Area -->

{% endblock %}


{% block footer_blog %}
 {% include 'app/fotter_blog_section.html' %}
{% endblock footer_blog %}